#books-grid {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: 4rem;
    }

h5 {
    max-width: 400px;
    margin: 15px;
    margin-top:60px;
}

