    .Footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em;
        background-color: #4B736E;
        display: flex;
        justify-content: space-between;
    }
    
    #copy-right {
        margin-top: 1.5em;
        padding-left: 1.15em;
        font-weight: 400;
        font-size: small;
        color: #FAFAFA;
    }
    
    #copy-right a {
        color: #FAFAFA;
        font-weight: 600;
        text-decoration: none;
    }
    
    #github-logo {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 1.5em;
    }
    


    #freepik a, #freepik {
        text-decoration: none;
        color: #4B736E !important;
        margin-top: 1.5em;
        font-size: small;
    }

    #freepik {
        margin-right: 1.5em;
    }