    .Footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em;
        background-color: #4B736E;
        display: flex;
        justify-content: space-between;
    }
    
    #copy-right {
        margin-top: 1.5em;
        padding-left: 1.15em;
        font-weight: 400;
        font-size: small;
        color: #FAFAFA;
    }
    
    #copy-right a {
        color: #FAFAFA;
        font-weight: 600;
        text-decoration: none;
    }
    
    #github-logo {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 1.5em;
    }
    
    @media only screen and (min-width: 376px) and (max-width: 768px) {
        .Footer {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 4em;
        background-color: #fafaf2;
        flex-direction: row;
        align-items: center;
        }
    
        #copy-right {
        width: 60vw;
        margin-top: 1.5em;
        padding-left: 1.15em;
        font-weight: 400;
        font-size: small;
        color: #FAFAFA;
        }
    
        #copy-right a {
        color: #4B736E;
        font-weight: 600;
        text-decoration: none;
        }
    
        #github-logo {
        display: flex;
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        padding-right: 1.5em;
        }
    }
    
    @media only screen and (max-width: 375px) {
        .Footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0em;
        }
        #copy-right {
        margin-top: 21em;
        padding-left: 1.15em;
        font-weight: 400;
        font-size: small;
        }
        #copy-right span {
        font-weight: 600;
        }
    
        #github-logo {
        margin-top: 17.5em;
        margin-right: -12em;
        }
    }
    
    @media only screen and (max-width: 375px) {
        .Footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0em;
        }
        #copy-right {
        margin-top: 11.5rem;
        padding-left: 1.15em;
        font-weight: 400;
        font-size: 0.5rem;
        margin-right: 4rem;
        }
        #copy-right span {
        font-weight: 600;
        }
        #github-logo {
        margin-top: 11.5rem;
        margin-left: 5rem;
        }
    }